{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "app",
            "database",
            "config"
        ]
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "Log::.*",
        ],
        "MethodCallRemoval": {
            "ignoreSourceCodeByRegex": [
                "Log::.*",
            ],
        },
    },
}
